body {
  box-sizing: border-box;
}
/* red red red red red red red HEADER red red red red red red*/
header {

  border: 5px solid tan;
  width: 98%;
  height: 75px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topTitle {
  display: inline-block;
  font-family: tahoma;
  padding-left: 10px;
  font-size: 36px;
  font-weight: 300;
}
button {
  background-color: green;
  border: none;
  color: white;
  font-size: 16px;
  padding: 12px 16px;
  float: right;
  margin: 18px;
  border-radius: 5px;
  transition-duration: .5s;
}
.addApt:hover {
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
  transform: translate(-2px, 2px);
}
/* green green green green green MAIN green green green green green */
main {
  display: flex;
  justify-content: center;
}
.meat {
height: 50vh;
width: 50vw;
margin-top: 85px;
border: 1px solid red;
}
/*Footer*/
footer {
  position: fixed;;
  bottom:0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo {
  height: 50px;
  width: 50px;
}
.logoList {
  display: flex;
  margin-right: 25px;
}
footer ul {
  display: flex;
}
footer ul li{
  list-style: none;
  position: relative;
}
