body {
  box-sizing: border-box;
}

 /*ANIMATIONS*/
@keyframes aBackground {
  from { background-position: 0 0;}
  to { background-position: 600% 0;}
}
#animate-area {
	background-image: url(http://wallpaper.zone/img/2426944.png);
	background-position: 0px 0px;
	background-repeat: repeat;
  background-size: 120vw;
	animation: aBackground 40s linear infinite;
}





/* red red red red red red red HEADER red red red red red red*/
header {

  border: 5px solid tan;
  width: 98%;
  height: 75px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerOff{
  display: none;
}
.topTitle {
  display: inline-block;
  font-family: Lora sans-serif;
  padding-left: 10px;
  font-size: 36px;
  font-weight: 300;
}
button {
  background-color: green;
  border: none;
  color: white;
  font-size: 16px;
  padding: 12px 16px;
  float: right;
  margin: 18px;
  border-radius: 5px;
  transition-duration: .5s;
}
.addApt:hover {
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
  transform: translate(-2px, 2px);
}
/* green green green green green MAIN green green green green green */
main {
  display: flex;
  justify-content: center;
}
.widen{
  width: 50vw !important;
}
/*.leftBar:hover, .rightBar:hover{
  width: 50vw;
  transition: all .2s ease-in;

}*/
.input {
  cursor: pointer;
  cursor: default;
  outline: none;
  height: 3em;
  width: 3em;
  background-color: lightcoral;
  border: none;
  font-size: 1.3em;
  border-radius: 50%;
  color: lightcoral;
  transition: all .2s ease-in;
}
.input:focus {
    width: 16em;
    padding-left: 1em;
    padding-right: 2.5em;
    transition: all .2s ease-in;
    border-radius: 10px;
    color: white;
  }
.leftBar, .rightBar{
  width: 20vw;
  height: auto;
  margin-top: 85px;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
}
.meat {
height: auto;
width: 60vw;
margin-top: 85px;
border: 5px outset hsla(172, 68%, 77%, 0.51);
border-radius: 5px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
align-items: flex-start;
}
.boxApt{
  height: 50px;
  width: 16vw;
  border: 1px solid green;
  margin: 25px;
}


/* red red red red red red red Footer red red red red red red red */
footer {
  position: fixed;;
  bottom:0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo {
  height: 50px;
  width: 50px;
}
.logoList {
  display: flex;
  margin-right: 25px;
}
footer p{
  font-family: lora;
}
footer ul {
  display: flex;
}
footer ul li{
  list-style: none;
  position: relative;
}
/*               test              */
