<!DOCTYPE html>
<html ng-app='myApp' ng-controller='mainCtrl'>
<head>
  <meta charset="utf-8">
  <title>Stephen Corry</title>
  <link rel="stylesheet" href="index.css" media="screen" title="no title">
  <fonts
  <!-- font-family: 'Dosis', sans-serif;
  font-family: 'Lora', serif;
  font-family: 'Shanti', sans-serif; -->
  <link href="https://fonts.googleapis.com/css?family=Dosis|Lora|Shanti" rel="stylesheet">

</head>
<body id="animate-area">
  <header>
    <p class="topTitle">CROWD CONTROL</p>
    <button type="button" name="button" class="addApt">Add Apartment</button>
  </header>
  <main>
    <div class="leftBar">
      <input class="input"/><span class="fa"></span>
    </div>
    <div class="meat">
      <div class="boxApt" ng-repeat='apt in allApartments'>
        {{apt.name}}<br>
        {{apt.complex}}<br>
        {{apt.perRoom}}
      </div>
    </div>
    <div class="rightBar">

    </div>

  </main>
  <div class="aptForm">
    <form class="fillForm">
      <span class="close">x</span>
      <input type="text" class='submitName' placeholder='Your name' ng-model='name' required><br>
      <input type="text" class='submitComplex' list='Complexes'placeholder='Apartment Complex' value="Complex" ng-model='complexName' required>
      <datalist id="Complexes">
        <option value="King Henry">
        <option value="Liberty Square">
      </datalist><br>
      <input type="number" class='submitPerRoom' placeholder='2' min='1' max='4' ng-model='perRoom' required>How many in your room?<br>
      <input type='submit' ng-click="addApt(name,complexName,perRoom)" class='submitApt'>Add Apartment
    </form>
  </div>

  <footer>
    <p>Show your appt on social media</p>
      <div class="logoList">
        <ul>
        <li>
          <div class="insta">
            <img src="http://3835642c2693476aa717-d4b78efce91b9730bcca725cf9bb0b37.r51.cf1.rackcdn.com/Instagram_App_Large_May2016_200.png" class="logo" alt="" />
          </div>
        </li>
        <li>
          <div class="face">
            <img src="http://1.bp.blogspot.com/-znUUXqw9F5o/URusQnMJssI/AAAAAAAAAB4/c9BA4pmq3hI/s1600/facebook+logo+4.jpg" class="logo" alt="" />
          </div>
        </li>
        <li>
          <div class="twiter">
            <img src="http://3.bp.blogspot.com/-FzOCW1IiDi8/URutrOjOOKI/AAAAAAAAACY/lSnz5CqN73E/s400/Twitter+Logo+3.png" class="logo" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </footer>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js'> </script>
    <script src="index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js">
    </script>
    <script src='app.js'></script>
    <script src='mainCtrl.js'></script>
</body>
</html>
